image: "pytorch/pytorch:1.2-cuda10.0-cudnn7-devel"

before_script:
  - pip install --upgrade pip>=18.0.0
  - apt-get update && apt-get -y install libgtk2.0-dev
  - pip install --no-dependencies nuscenes-devkit opencv-python scikit-learn joblib pyquaternion cachetools
  - pip install -r requirements.txt

stages:
  - build
  - test

build general:
  tags:
    - kaolin
  stage: build
  script:
    - python setup.py build_ext --inplace -j$(nproc --all)
    - python setup.py install
    - python -c 'import kaolin; print(kaolin.__version__)'

full test:
  tags:
    - kaolin
  stage: test
  script:
    - flake8 --config=.flake8 .
    - source setenv.sh
    - python setup.py develop
    - pytest --cov=kaolin/ tests/
    - ./tests/examples/run/test_classification.sh
    - ./tests/examples/run/test_nmr.sh
    - ./tests/examples/run/test_softras_examples.sh
