artifacts
cuda_*.exe
miniconda3.exe
vs_buildtools.exe


# all folders starting with _ are local
_*/

# generated folders
kaolin/version.py
build/
kaolin.egg-info
*.so

# byte-compiled python files
*.py[cod]

# pip cache
.cache
