<legend>View Settings</legend>
<div class="form-control">
   <div class="optrow">
    <div class="opt">
      <label for="maxviews">Max viewports per type:</label>
    </div>
    <div class="opt">
      <input type="number" min="1" max="8" step="1" id="maxviews" name="maxviews"
             value="{{[[urlargs.get('maxviews', 3)|int, 1]|max, 8]|min}}">
    </div>
   </div>

  <div class="optrow">
    <div class="opt">
      <label for="radius">Point radius</label>
    </div>
    <div class="opt">
      <input type="number" min="0" max="100" step="0.02" id="radius" name="radius"
             value="{{urlargs.get('radius', 0.02)|float|default(0.02)}}">
    </div>
  </div>

  <div class="optrow">
    <div class="opt">
      <label for="linkcam">Link cameras</label>
    </div>
    <div class="opt">
      <input type="checkbox" id="linkcam" name="linkcam"
             {% if 'linkcam' in urlargs %}
             checked
             {% endif %}
             >
    </div>
  </div>

  <div class="rightbuttonrow">
    <button id="refresh">Update</button>
  </div>
</div>
